<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/init.css' />
    <link rel='stylesheet' href='/stylesheets/main_page.css' />
    <script defer src="/javascripts/main.js"></script>
  </head>
  <body>
    <div id="div_calculator_main">
      <input type="text">
      <input type="button" value="계산">
      <input type="button" value="초기화">
      <input class="calc_button" type="button" value="1">
      <input class="calc_button" type="button" value="2">
      <input class="calc_button" type="button" value="3">
      <input class="calc_button" type="button" value="4">
      <input class="calc_button" type="button" value="5">
      <input class="calc_button" type="button" value="6">
      <input class="calc_button" type="button" value="7">
      <input class="calc_button" type="button" value="8">
      <input class="calc_button" type="button" value="9">
      <input class="calc_button" type="button" value="0">
      <input class="calc_button" type="button" value="+">
      <input class="calc_button" type="button" value="-">
      <input class="calc_button" type="button" value="*">
      <input class="calc_button" type="button" value="/">
    </div>
  </body>
</html>
