<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='/stylesheets/init.css' />
    <link rel='stylesheet' href='/stylesheets/main_page.css' />
    <script defer src="/javascripts/public_function.js"></script>
    <script defer src="/javascripts/logView.js"></script>
</head>
<body>
<div id="div_calculator_main">


</div>
</body>
</html>
