<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='/stylesheets/init.css' />
    <link rel='stylesheet' href='/stylesheets/main_page.css' />
    <link rel='stylesheet' href='/stylesheets/logView.css' />
    <script defer src="/javascripts/public_function.js"></script>
    <script defer src="/javascripts/logView.js"></script>
</head>
<body>
<div id="div_calculator_main">
    <div class="div_log_title">
        <label class="label_log_title">
            연산 결과 확인
        </label>
    </div>
    <table class="log_view_table">
        <thead>
            <tr>
                <td class="log_view_td">
                    이름
                </td>
                <td class="log_view_td">
                    수식
                </td>
                <td class="log_view_td">
                    결과
                </td>
                <td class="log_view_td">
                    수정
                </td>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    <span id="span_paging"></span>
</div>
</body>
</html>
