body{
  width: 100%;
  height: 100%;
  background:url("/images/background.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-color: #000000;
  background-size: auto 100vh;
}

#div_calculator_main{
  display: block;
  position:absolute;
  left: calc(50% - 250px);
  top: calc(50% - 250px);
  width: 500px;
  height: 510px;

  background: rgba( 255, 255, 255, 0.25 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.operation_div{
  width: 180px;
  margin: 20px 20px;
  display: inline-block;
}

.text_calc_button{
  width: 70px;
  height: 30px;
  background: rgba( 255, 255, 255, 0.25 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 5.0px );
  -webkit-backdrop-filter: blur( 5.0px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.text_calc_button:hover{
  background: rgba( 255, 255, 255, 0.5 );
  cursor: pointer;
}

.clear_calc_button{
  width: 70px;
  height: 30px;
  background: rgba( 255, 255, 255, 0.25 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 5.0px );
  -webkit-backdrop-filter: blur( 5.0px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  margin: 8px 2px;
}

.clear_calc_button:hover{
  background: rgba( 255, 255, 255, 0.5 );
  cursor: pointer;
}

.text_calc_button{
  margin: 8px 2px;
}

.calc_button{
  width: 70px;
  height: 30px;
  background: rgba( 255, 255, 255, 0.25 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 5.0px );
  -webkit-backdrop-filter: blur( 5.0px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  margin: 8px 2px;
}
.calc_button:hover{
  background: rgba( 255, 255, 255, 0.5 );
  cursor: pointer;
}

.text_box{
  display: block;
  width: 450px;
  height: 30px;
  background: rgba( 255, 255, 255, 0.25 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 5.0px );
  -webkit-backdrop-filter: blur( 5.0px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  outline: none;
  margin: 12px 20px;
}

.name_text_box{
  display: inline-block;
  width: 320px;
  height: 30px;
  background: rgba( 255, 255, 255, 0.25 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 5.0px );
  -webkit-backdrop-filter: blur( 5.0px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  outline: none;
  margin: 10px 20px;
}


.result_text_box{
  display: block;
  width: 450px;
  height: 30px;
  background: rgba( 255, 255, 255, 0.25 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 5.0px );
  -webkit-backdrop-filter: blur( 5.0px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  outline: none;
  margin: 20px 20px;
}

.text_box:hover{
  background: rgba( 255, 255, 255, 0.5 );
}

.name_text_box:hover{
  background: rgba( 255, 255, 255, 0.5 );
}

.result_text_box:hover{
  cursor: default;
}

.button_div{
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.number_div{
  margin: 20px 20px;
  display: inline-block;
}

.function_div{
  margin : 20px 20px
}

.calc_log_button{
  width: 100px;
  height: 30px;
  background: rgba( 255, 255, 255, 0.25 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 5.0px );
  -webkit-backdrop-filter: blur( 5.0px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  margin: 8px 8px;
}

#calc_log:hover{
  cursor:pointer;
  background: rgba( 255, 255, 255, 0.5 );
}

.version_font{
  position:absolute;
  top:calc(100% - 25px);
  left:calc(100% - 75px);
  font-size: 11pt;
  font-weight: bold;
  color:#ffffff;
  font-style: italic;
}